    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="panel">
                    <div class="panel-body">

                        <!--/stories-->
                                   

                      
                       {{#each books}}

  
                        <div class="row">
                  
                <div class="col-md-2 col-sm-3 text-center">
                                <img src="{{{img}}}" alt="{{books.book.title}}" style="width:100px;">
                            </div>
                            <div class="col-md-10 col-sm-9">
                                <h3>{{name}}</h3>
                                <div class="row">
                                    <div class="col-xs-9">
                                        <h4><span class="label label-default">{{author}}</span></h4>
                                        <h4>
                  <small style="font-family:courier,'new courier';" class="text-muted"><a href="/Books/{{_id}}" class="text-muted">Read More</a></small>
                  </h4></div>
                                    <div class="col-xs-3"></div>
                                </div>
                                <br><br>
                            </div>
                        </div>
                        <hr>
                      {{/each}}

                        <!--/stories-->
                        <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <!--/col-12-->
        </div>
    </div>


    <hr>

  